{% extends 'base/base.html' %}
{% load static %}





{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/custom/login-style.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row full-height">
        <!-- Left Section -->
        <div class="col-lg-8 col-md-8 d-none d-md-block left-section position-relative">
            <div class="content">
                <h1>Welcome</h1>
                <p>Your descriptive text goes here.</p>
            </div>
        </div>
        <!-- Right Section -->
        <div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center">
            <div class="login-area form-container">
                {% load widget_tweaks %}

                <form method="post" novalidate class="p-4 shadow rounded bg-white">
                    {% csrf_token %}
                    <h3 class="mb-4 text-center pktxt">Login</h3>
                    
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger mt-3">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <div class="form-group mb-3">
                        {{ form.username.label_tag }} 
                        {{ form.username|add_class:"form-control form-control-lg" }} 
                        {% if form.username.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.username.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-4">
                        {{ form.password.label_tag }} 
                        {{ form.password|add_class:"form-control form-control-lg" }}
                        {% if form.password.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.password.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}